@using MvcNews.Data
@model Post

@{
    ViewBag.Title = Model.Title;
    ViewData["showsignin"] = false;
    Layout = "_Layout";
}

<div class="text-left">
    <h2 class="text-center">@Model.Title</h2>
    <br>
    <img style="display: block; width: 100%; max-width: 1140px" src="../../@Model.Poster"/>
    <hr>
    <pre style="white-space: pre-wrap; word-wrap: break-word;">@Model.Content</pre>
    <br>
    <br>
    <p class="small">Written by : @ViewData["AuthorName"] @@ @Model.CreationDate.ToLongDateString()</p>
    <hr>
    <div>
        <h3>Category</h3>
        <p>@Model.Category.Name</p>
        <h3>Tags</h3>
        @foreach (PostTag pt in @Model.PostTags)
        {
            <p style="display: inline-block; margin-right: 10px">@pt.Tag.Name</p>
        }
    </div>
</div>