@using MvcNews.Data
@model Post

@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
}

<h2>@Model.Title</h2>

<div class="text-center">@Model.Content</div>

<p>Category : @Model.Category.Name</p>
<div>
    <h3>Tags</h3>
    @foreach (PostTag pt in @Model.PostTags)
    {
        <p>@pt.Tag.Name</p>
    }
</div>